html{
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
    width: 100%;
    display: inline-block;
}
body{
    height: 100%;
    margin: 0;
    }
.header{
    width: 100%;
    height: 15%;
    background-color: #fff;
    display: flex;
    align-items: center;
}
#logo{
    width: 103px;
    height: 50px;
    margin-left: 50px;
}
.header h1{
    color: #de412e;
    margin-left: 50px;
}
.body .img-toancanh{
    width: 100%;
}
.list-items{
    font-size: 25px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.list-items .item{
    color: #de412e;
    width: 22%;
    height: 75%;
    background-color: rgb(229, 229, 229);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.list-items .item:hover{
    background-color: rgb(244, 244, 244);
}
.item img{
    width: 50%;
    height: 55%;
}
.footer {
    width: 100%;
    height: 100px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #353536;
    color: #fff       
}
.footer p{
    margin-top:10px;
}
.header .back{
    color: #de412e;
    position: absolute;
    text-decoration: none;
    right: 30px;
}
.header .back:hover{
    color: #ec7f73;
}
@media(max-width: 1350px) {
    .list-items{
        font-size: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
    .list-items .item{
        margin-top: 20px;
        color: #de412e;
        width: 45%;
        height: 75%;
        background-color: rgb(229, 229, 229);
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        padding-top: 10px;
    }
}

/* photo css */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0px auto;
    display: flex;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__content {
    padding-top: 32px;
}

.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}
 
.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;
}

.left-bar {
    height: 100vh;

    border-radius: 2px;
}

.list-links{
    background-color: rgb(229, 229, 229);

}

.list-img__img {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 12px;
}

.list-img__img img{
    width: 100%;
    border-radius: 2px;
}


ul{
    margin: 0;
    background-color: #f5f5f5;
    list-style: none;
    padding-left: 0;
    border-radius: 2px;
    padding: 12px;
}

.img1:hover .img-content1 {
    display: block;
    animation: modelFadeIn ease .8s ;
}

.img-2:hover .img-content2 {
    display: block;
    animation: modelFadeIn ease .8s ;
}
.img-3:hover .img-content3 {
    display: block;
    animation: modelFadeIn ease .8s ;
}
.img-4:hover .img-content4 {
    display: block;
    animation: modelFadeIn ease .8s ;
}
.img-5:hover .img-content5 {
    display: block;
    animation: modelFadeIn ease .8s ;
}
.img-6:hover .img-content6 {
    display: block;
    animation: modelFadeIn ease .8s ;
}
.img-7:hover .img-content7 {
    display: block;
    animation: modelFadeIn ease .8s ;
}
.img-content1 {
    display: none;
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0,0.26);
    top: 61.5%;
    /* right: 42%; */
    width: 100%;
    height: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
    
}.img-content2 {
    display: none;
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0,0.26);
    top: 67.5%;
    /* right: 42%; */
    width: 100%;
    height: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
    
}.img-content3 {
    display: none;
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0,0.26);
    top: 67.5%;
    /* right: 42%; */
    width: 100%;
    height: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
    
}
.img-content4 {
    display: none;
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0,0.26);
    top: 67.5%;
    /* right: 42%; */
    width: 100%;
    height: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
    
}
.img-content7 {
    display: none;
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0,0.26);
    top: 64.8%;
    /* right: 42%; */
    width: 100%;
    height: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
    
}
.img-content5 {
    display: none;
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0,0.26);
    top: 67.5%;
    /* right: 42%; */
    width: 100%;
    height: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
    
}
.img-content6 {
    display: none;
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0,0.26);
    top: 67.5%;
    /* right: 42%; */
    width: 100%;
    height: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
    
}
.list-links {
    /* background-color: rgb(242, 238, 238); */
    padding: 12px;
    border-bottom: solid 1px #de412e;

}

.list-links a {
    display: block;
    color: #de412e;
    text-decoration: none ;
    transition: right linear .1s;
    width: 100%;
    position: relative;
    right: 0;
}

.link:hover {
    
    color: #e84e3d;
    right: -4px;
}

.body_network{
    display: block;
    width: 100%;
    height: 100%;
}

.intro p{
    display: inline-block;
    max-width: 75%;
    text-align: center;
}

.body_network .intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    background-color: #ad2b1d;
    height: 20%;
    color: #fff;
}

.body_network .detail{
    padding: 0 50px;
    height: 100%;
    margin-bottom: 50px;
}

.body_network .detail .card{
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 20px 10px 20px 20px;
    width: 100%;
    height: 25%;
    margin-top:50px;
    background-color: #af3e32;
}

.card .text_area{
    margin-left: 50px;
    width: 50%;
    height: 75%;
    background-color: #d8a853;
    border-radius: 5px;
    padding: 10px 20px 30px 20px;
}

.card .text_area h3{
    text-align: center;
}

.card img{
    width: 40%;
    height: 60%;
    border-radius: 5px;
}

.body_network .detail .card2{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 20px 10px 20px 20px;
    width: 100%;
    height: 25%;
    margin-top:50px;
    background-color: #af3e32;
}

.card2 .text_area{
    width: 50%;
    height: 75%;
    background-color: #d8a853;
    border-radius: 5px;
    padding: 10px 20px 30px 20px;
}

.card2 .text_area h3{
    text-align: center;
}

.card2 img{
    margin-left: 50px;
    width: 40%;
    height: 60%;
    border-radius: 5px;
}
@media(max-width: 650px) {
    .list-items{
        font-size: 20px;
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .list-items .item{
    color: #de412e;
    width: 95%;
    height: 75%;
    background-color: rgb(229, 229, 229);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    }
    .toab-about {
        position: absolute;
        top: 24px;
        left: 24px;
        display: block;
        width: 300px;
        background-color:rgba(244, 45, 45, 0.8);
        padding: 12px;
        border-radius: 2px;
        color: #e84e3d;
    
    }
}
/* b building */

.body-toab {
    margin-bottom: -5px;
}
.img-b-building {
    width: 100%;
}

.back-img {
    position: relative;
}

.img-content {
    position: absolute;
    top: 12%;
    left: 24px;
}

.img-content img {
    width: 100%;
    border-radius: 2px;
    height: 100%;

}
.meothongthai{
    width: 100%;
}
.toab-about {
    display: block;
    position: absolute;
    top: 126px;
    left: 218px;
    width: 300px;
    background-color:rgba(244, 236, 236, 0.8);
    padding: 12px;
    border-radius: 2px;
    color: #e84e3d;
}
p {
    margin: 0;
}
.body_about{
    width: 100%;
    height: 50em;
}
.infor_members{
    width: 100%;
    padding: 50px 20px;
    background-color: #90342a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.infor_members .name_team{
    color: #d8a853;
    display: inline-block;
    justify-content: center;
    border-radius: 15px;
    border: solid 5px #d8a853;
    padding: 0 20px;
    font-size: 35px;
    line-height: 20px;
}
.infor_members .list_members{
    width: 100%;
    height: 30em;
    padding: 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.list_members .member_card{
    position: relative;
    width: 40%;
    padding: 20px 10px;
    background-color:#d8a853;
    border-radius: 20px;
}
.member_card::after{
    content: "";
    position: absolute;
    bottom: 50px;
    right: 63px;   
    width: 80%;
    height: 70px;
    background-color: #90342a;
    border-radius:20px;
}
.member_card .name_member{
    padding: 10px 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.member_card .name_member h2{
    display: inline-block;
    position: relative;
}
.member_card .name_member .avatar{
    width: 10em;
    height: 10em;
    border: solid 5px #90342a;
    border-radius: 50%;
    z-index: 2;
}
.avatar img{
    z-index: 1;
    margin-left: 31px;
    margin-top: 10px;
    width:63%;
    height: 88%;
}
.member_card .name_member h2::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 130%;
    border-radius:5px;
    left:0;
    bottom:-5px;
    background-color: #90342a;
}
.member_card .detail_member{
    position: absolute;
    top: 110px;
    z-index: 0;
    padding: 10px 58px;
}
.member_card .detail_member ul{
    margin: 20px 0;
    font-size: 30px;
    background-color: #d8a853;
}
.body_about .thank{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%; 
    padding: 20px;
}
.body_about .thank p{
    line-height: 2em;
    max-width: 900px;
    text-align: center;
}
@keyframes modelFadeIn {
    from{
        transform: translateY(40px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
